.post-type-archive-actualites {

    * {
        outline: solid red 1px;
    }

    button, a {
        all: unset;
    }

    .carousel-wrapper {
        width: 100vw;
        overflow: hidden;
    }    

    .gallery {
        position: relative;
    }

    .gallery-cell {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gallery-cell>img {
        height: 50vh;
        width: auto;
    }

    .flickity-prev-next-button {
        width: 60px;
        border-radius: 20px;
        background-color: #FF8000;
        position: absolute;
        top: 50%;
        opacity: 80%;
    }

    .flickity-prev-next-button.previous {
        left: 10%;
    }

    .flickity-prev-next-button.next {
        right: 10%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: #FF8000;
        border-radius: 20px;
    }

    .site-main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title-photos {
        color: #0357FF;
        padding-block: 40px;
    }

    .title-actus {
        color: #FF8000;
        padding-block: 40px; 
    }

    .actus-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
        margin-inline: 100px;
        margin-bottom: 20px;
    }


    
    .actu {    
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        justify-self: center;

        img {
            width: 100%;
            height: auto;
        }

        h3 {
            color: #FF8000; 
            padding-block: 10px; 
        }

        button {
            color: #FF8000; 
            border: solid #FF8000 1px;
            border-radius: 5px;
            margin-inline: 10px;
            margin-block: 20px;
            padding-inline: 100px;
            padding-block: 10px;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 1000px) {
        .actus-wrapper {
            grid-template-columns: 1fr 1fr;
        }

        .actus-wrapper .actu:nth-child(4n-2), .actu:nth-child(4n-3) {
            h3, button {
                color: #0357FF;
            }
    
            button {
                border-color: #0357FF;
            }
        }
    }

    @media (max-width: 700px) {
        .gallery-cell>img {
            height: 100%;
            width: fit-content;
        }
    }

    @media (max-width: 800px) {
        .actu {
            width: 70%;

            button {
                padding-inline: 10px;
            }
        }

        .actus-wrapper {
            margin-inline: 0px;
            column-gap: 20px;
        }
    }

    @media (max-width: 400px) {
        .flickity-prev-next-button {
            width: 40px;
        }
    }

}